@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 text-white rounded bg-success" id="PageHeader">
    <div class="container text-center">
        <h1 class="display-4">Do not miss the event of the year!</h1>
        <p class="display-1">2023 CSI Conference</p>
        <p class="lead">7 - 9 July 2023</p>
        <p>Hosted by the UFS CSI Department in Bloemfontein</p>
        <a class="btn btn-primary" asp-controller="Attendee" asp-action="CheckRegistration">Register</a>
    </div>
</div>

  
